<div class="row">
  <div class="col-xs-2">
    <button class="btn btn-success" (click)="onNewUser()">New User</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <app-user-item *ngFor="let userEl of users; let i = index" [user]="userEl" [index]="userEl.userId"></app-user-item>
  </div>
</div>