<footer class="container">
  <div class="row justify-content-md-center">
    © 2018 Copyright: Ginés Collado
  </div>
  <div class="row justify-content-md-center">
    <span class="text-muted">Entorno: {{ entorno }}</span>
  </div>
</footer>