<div class="row justify-content-md-center">

  <div class="col-xs-12">
    <form name="editForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="username">Username</label>
          <input type="text" id="username" class="form-control" [(ngModel)]="usernameForm" [ngModelOptions]="{standalone: true}" placeholder="Username">
        </div>
        <div class="col-sm-5 form-group">
          <label for="password">Password</label>
          <input type="password" id="paswword" class="form-control" [(ngModel)]="passwordForm" [ngModelOptions]="{standalone: true}" placeholder="Password">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 form-group">
          <button class="btn btn-success" type="submit" (click)="onAddUser()"
             [disabled]="usernameForm === '' || passwordForm === ''">Add</button>&nbsp;
          <button class="btn btn-primary" type="reset">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>