<a style="cursor: pointer;" [routerLink]=[index] routerLinkActive='active' class="list-group-item clearfix">
  <span class="pull-left">
    <img src="assets/images/user.png" alt="{{ user.username }}" class="img-responsive" style="max-height: 50px;">
  </span>
  <div class="pull-right">
    <h4 class="list-group-item-heading">id: {{ user.userId }}</h4>
    <p class="list-group-item-text">username: {{ user.username }}</p>
  </div>
  
</a>