<br>
<div clas="row" *ngIf="user">
  <div class="col-xs-12">
    <img src="assets/images/user.png" alt="{{ user.username }}" title="{{ user.username }}" class="img-responsive" style="max-height: 150px;">
  </div>
</div>
<div class="row" *ngIf="user">
  <div class="col-xs-12">
    <h1>{{ user.username }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Administración        
      </button>
      <ul class="dropdown-menu"> 
        <li class="dropdown-item" (click)="onEditUser()" style="cursor: pointer;">Editar</li>
        <li class="dropdown-item" (click)="onDeleteUser()" style="cursor: pointer;">Eliminar</li>
      </ul>
    </div>
  </div>
</div>
