<div class="container-fluid">
  <app-header></app-header>
  <div class="container">
    <br>
    <!-- <div class="row justify-content-md-center">
      <h2>Gestión de usuarios</h2>
    </div> -->
    <router-outlet></router-outlet>
    <br>
    <hr>
    <div class="row justify-content-md-center">
      <app-footer></app-footer>
    </div>
  </div>
</div>